@{
    ViewBag.Title = "CarritoCompra";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<div>
    <center class="carrito">
        <div id="items" class="col-sm-8 row"></div>
        <div class="col-sm-4">
            <h2 style="text-align:left;">Carrito</h2>
            <ul id="carrito" class="list-group"></ul>
            <hr>
            <p class="text-right">Total: <span id="total"></span>&euro;</p>
            <div class="text-right"><input id="botonComprar" type="button" value="Comprar" onclick="comprar()" class="btn btn-primary" /></div>
            <br/>
            <p class="text-left">Mensaje: <span id="mensaje"></span></p>
        </div>
    </center>
</div>

<script src="~/Javascript/CarritoCompra.js"></script>
