
@model List<object>
@using MusicaLMFL.Modelo

<h3 style="margin-bottom: 25px; text-align: center;">Añadir Disco</h3>
<p class="text-left">Mensaje: <span id="mensaje"></span></p>

<div class="container">
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post" id="my_form" onsubmit="Enviar()">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input name="Titulo" type="text" maxlength="30" required="3" class="form-control" placeholder="Título" id="titulo" />
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input name="Autor" type="text" maxlength="30" minlength="3" required="" class="form-control" placeholder="Autor" id="autor" />
                </div>
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select name="Genero" class="form-control" id="genero">
                        @foreach (TGenero genero in Model)
                        {
                            <option value="@genero.Genero">@genero.Genero</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="canciones">Canciones</label>
                    <input name="Canciones" type="text" required="" class="form-control" placeholder="Canciones" id="canciones" />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input name="Precio" type="text" required="" class="form-control" placeholder="Precio" id="precio" />
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input name="Imagen" type="text" required="" class="form-control" placeholder="Imagen" id="imagen" />
                </div>
                <fieldset class="form-group">
                    <legend>Formato:</legend>
                    <input type="checkbox" name="Formatouno" value="Vinilo" id="vinilo" />Vinilo <br>
                    <input type="checkbox" name="Formatodos" value="CD" id="cd" />CD<br>
                    <input type="checkbox" name="Formatotres" value="Digipack" id="digipack" />Digipack<br>
                </fieldset>
                <fieldset class="form-group">
                    <legend>Estado: </legend>
                    <input type="radio" name="Estado" value="Novedad" id="novedad" />Novedad<br />
                    <input type="radio" name="Estado" value="Reedición" id="reedicion" />Reedición<br />
                </fieldset>
                <br>

                <div class="submit">
                    <input type="submit" id="botonEnviar" value="Insertar" class="btn btn-primary pull-right" />
                    <input type="reset" value="Borrar Campos" class="btn btn-danger pull-right" id="button-reset">
                    <div class="ease"></div>
            </form>
        </div>
    </div>
</div>


<script>

    let $mensaje = document.querySelector('#mensaje');

    function Enviar()
    {
        var uri = @Url.Action("addDisco", "Disco");
        var disco = {};
        disco = cargarDisco(disco);
        $.ajax({
            url: uri,
          data: JSON.stringify(disco),
          type: 'POST',
          success: exito,
          contentType: 'application/json'
        });
    }

    function exito(data) {
        $mensaje.textContent = data;
    }

    function cargarDisco(disco) {
        disco.Titulo = document.getElementById("titulo").value;
        disco.Autor = document.getElementById("autor").value;
        disco.Genero = document.getElementById("genero").value;
        disco.Canciones = document.getElementById("canciones").value;
        disco.Precio = document.getElementById("precio").value;
        disco.Imagen = document.getElementById("imagen").value;
        if (document.getElementById('vinilo').checked)
            disco.Formatouno = document.getElementById("vinilo").value;
        if (document.getElementById('cd').checked)
            disco.Formatodos = document.getElementById("cd").value;
        if (document.getElementById('digipack').checked)
            disco.Formatotres = document.getElementById("digipack").value;
        if (document.getElementById("novedad").checked)
            disco.Estado = document.getElementById("novedad").value;
        if (document.getElementById("reedicion").checked)
            disco.Estado = document.getElementById("reedicion").value;
        return disco;
    }
</script>



